<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>EATag</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="/script.js" defer></script>
  </head>
  
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <div>
      <p>
       <h1>EATag<br></h1>
       <h4>―食を豊かに―</h4>
      </p>
    </div>
  
  <img src="https://s.kota2.net/1629962354.png" width="500" height="300">
  
  

   <div>
      <button id="tosearch" class="btn btn-primary" type="submit">検索ページへ</button>
   </div>
<form>
  <div class="form row">
  <div class="form-group col">
    <label for="exampleFormControlSelect1">ジャンル</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1　主食</option>
      <option>2　おかず</option>
      <option>3　汁物</option>
      <option>4　おつまみ</option>
      <option>5　デザート</option>
    </select>
  </div>
  
  <div class="form-group col-8">
    <label for="exampleFormControlInput1">料理名</label>
    <input type="dish" class="form-control" id="exampleFormControlInput1" placeholder="例）アクアパッツア">
  </div>
  </div>  
  
  <div class="form-group">
    <label for="exampleFormControlInput2">HPリンク</label>
    <input type="HPlink" class="form-control" id="exampleFormControlInput2" placeholder="https://www.com/xxx-xxx">
  </div>
  
  <div class="form-group">
    <label for="exampleFormControlInput3">メモ</label>
    <input type="memo" class="form-control" id="exampleFormControlInput3" placeholder="例）5分焼いたら焦げてしまった">
  </div>
  
</form>
  
<form>
  <div class="form-group">
    <label for="formControlRange">レビュー</label>
    <input type="range" class="form-control-range" id="formControlRange" min="0" max="5" step="0.1">
    <span id="value">2.5</span>
  </div>
</form>
  <div>
      <button id="save" class="btn btn-primary" type="submit">保存</button>
  </div>
  

  <div id="result_listings">           
    <script>                var inHTML= '<table style="border: 1px solid black">';
                var results= <%-JSON.parse(listings) %>;
                inHTML += '<tr style="border: 1px solid black">';
                inHTML += "<th>file</th>";
                inHTML += "<th>count</th>";
                inHTML += "</tr>";
                results.forEach(function(item, index){
                    inHTML += '<tr style="border: 1px solid black>';
                    inHTML += "<td>" + index + "</td>";
                    inHTML += "<td>" + item.file + "</td>";
                    inHTML += "<td>" + item.occurances + "</td>";
                    inHTML += "</tr>";
                })
                inHTML += "<table>";
                document.getElementById("result_listings").innerHTML= inHTML;
            </script>    
  </div>

 
  

  


  
    <script>
     
       
      function saveUser() {
       const url = '/save'; // 通信先
       const req = new XMLHttpRequest(); // 通信用オブジェクト
       req.onreadystatechange = function(){
       if(req.readyState == 4 && req.status == 200) {
        alert('成功'); // 成功したらアラート表示
       }
      };
      const user = {name: '冨田', age: 29}; // 保存対象（適宜変更する）
      req.open('POST', url, true);
      req.setRequestHeader('Content-Type', 'application/json');
      req.send(JSON.stringify(user)); // オブジェクトを文字列化して送信
     }


     </script>


</html>
