:root {
  --color-bg-all: #4abdac;
  --color-bg: #ffffff;
  --color-text-main: #4abdac;
}


html {
  min-height: 100%; 
  background: var(--color-bg-all)
}

p {
  text-align: center;
}

div {
  display: flex;
  justify-content: center;
}

/* Title h1 style */
.title {
  color: var(--color-bg);
  font-family: "M PLUS 1p", sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 150%;
}

.box{
  flex-direction: column;
  padding: 1.5em 0.5em;
  border: 4px solid #f6bfbc;
  border-radius: 8px;
  background: var(--color-bg);
}

.day {
  color: var(--color-text-main);
  font-family: "M PLUS 1p", sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 150%;
}

.time {
  color: var(--color-text-main);
  font-family: "M PLUS 1p", sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 150%;
}

.overtime {
  color: var(--color-bg);
  font-family: "M PLUS 1p", sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 150%;
  margin: 1rem 0 0 0;
}

.bt {
  font-family: "M PLUS 1p", sans-serif;
  color: #fc4a1a;
  font-size: 200%;
  background: var(--color-bg);
  box-sizing: border-box;
  border-radius: 8px;
  padding: 1rem 2rem;
  margin: 4rem 2rem 2rem 2rem;/*上右下左*/
}
.bt:hover {
  border: 2px solid #fc4a1a;
}

.bt1 {
  font-family: "M PLUS 1p", sans-serif;
  color: dodgerblue;
  font-size: 200%;
  background: var(--color-bg);
  box-sizing: border-box;
  border-radius: 8px;
  padding: 1rem 2rem;
  margin: 4rem 2rem 2rem 2rem;
}
.bt1:hover {
  border: 2px solid dodgerblue;
}

.bt2 {
  font-family: "M PLUS 1p", sans-serif;
  color: #f78733;
  font-size: 200%;
  background: var(--color-bg);
  box-sizing: border-box;
  border-radius: 8px;
  padding: 1rem 2rem;
  margin: 1rem 2rem 2rem 2rem;
}
.bt2:hover {
  border: 2px solid #f78733;
}

.label{
  font-family: "M PLUS 1p", sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: var(--color-bg-all);
}

.box2{
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  padding: 1.5em 0.5em;
  border: 4px solid #f6bfbc;
  border-radius: 8px;
  background: var(--color-bg);
}

.bt3 {
  font-family: "M PLUS 1p", sans-serif;
  color: #f78733;
  font-size: 180%;
  background: #dfdce3;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 0.8rem 2rem;
  margin: 3rem 0.5rem 1rem 1rem;
}
.bt3:hover {
  border: 2px solid #f78733;
}

@media screen and (max-width:480px) {
  .title {
    font-size: 40px;
    line-height: 150%;
  }
  
  .box{
    padding: 1.5em 0.5em;
  }

  .day {
    font-size: 25px;
  }

  .time {
    font-size: 40px;
  }

  .overtime {
    font-size: 20px;
  }

  .bt {
    margin: 2rem 0.5rem 1rem 1rem;
  }
  .bt:hover {
    margin: 2rem 0.5rem 1rem 1rem;
  }
  
  .bt1 {
    margin: 2rem 0.5rem 1rem 1rem;
  }
  .bt1:hover {
    margin: 2rem 0.5rem 1rem 1rem;
  }

  .bt2 {
    margin: 0.5rem 0.5rem 1rem 1rem;
  }
  .bt2:hover {
    margin: 0.5rem 0.5rem 1rem 1rem;
  } 
  
  .bt3 {
    padding: 0.8rem 1.2rem;
    margin: 1.5rem 0.5rem 0.5rem 0.5rem;
    font-size: 150%;
  }
  .bt3:hover {
    padding: 0.8rem 1.2rem;
    margin: 1.5rem 0.5rem 0.5rem 0.5rem;
    font-size: 150%;
  } 
  
  .label{
    font-size: 18px;
  }

  .textbox{
    width: 200px;
    padding: 10px;
    font-size: 16px;
    outline: none;
    margin-top: -15px;
    margin-bottom: 10px;
  }

  .box2{
    max-width: 70%;
    padding: 1.5em 0.5em;
  }
}